{% extends 'Abase.html' %}

{% block content %}
<style>
  label.cabinet {
      display: block;
      cursor: pointer;
    }
    
    label.cabinet input.file {
      position: relative;
      height: 100%;
      width: auto;
      opacity: 0;
      -moz-opacity: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      margin-top: -30px;
    }
    
    #upload-demo {
      width: 400px;
      height: 250px;
      padding-bottom: 25px;
    }
    #upload-demo1 {
      width: 300px;
      height: 250px;
      padding-bottom: 25px;
    }
    #upload-demo2 {
      width: 250px;
      height: 250px;
      padding-bottom: 25px;
    }
    
</style>
<div class="col-lg-12 col-ml-12">
    <div class="row">
        <!-- basic form start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">EDIT CATEGORY</h4>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.0.0/cropper.min.js"></script>
                    <form>

                        
                        <div class="input-group mb-3">
                          <div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="cabinet center-block">
                                        <figure>
                                            <img src="" class="catImg img-responsive img-thumbnail" id="itemImgOutput" />
                                            <figcaption><i class="fa fa-camera"></i></figcaption>
                                        </figure>
                                        <input type="file" class="item-img file center-block" name="file_photo" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">
                                            <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="upload-demo" class="center-block"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        </div>
                        <div class="form-group">
                            <label for="example-text-input" class="col-form-label">Category Name</label>
                            <input class="form-control" type="text" value="{{catEdit.categoryName}}" name="name"  placeholder="Enter category name" id="names">
                        </div>
                        <div>
                            <button type="button" id="log-button" class="btn btn-primary mt-4 pr-4 pl-4">Update</button>
                            <p id="errormsg" class="text-center"></p>
                        </div>
                       
                    </form>
                    <script>
                      $(".catImg").attr("src", "{{catEdit.imageurl}}");
                       
                    </script>

                    <script>
                        var imgurl;
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                              var reader = new FileReader();
                              reader.onload = function (e) {
                                $('#blah').attr('src', e.target.result)
                              };
                              reader.readAsDataURL(input.files[0]);
                              setTimeout(initCropper, 1000);
                            }
                          }
                          function initCropper(){
                            
                            var image = document.getElementById('blah');
                            var cropper = new Cropper(image, {
                              aspectRatio: 16 / 9,
                              crop: function(e) {
                                //console.log(e.detail.x);
                                //console.log(e.detail.y);
                              }
                            });
                          
                            // On crop button clicked
                            document.getElementById('crop_button').addEventListener('click', function(){
                              imgurl =  cropper.getCroppedCanvas().toDataURL();
                              var img = document.createElement("img");
                              img.src = imgurl;
                              document.getElementById("cropped_result").appendChild(img);
                          
                              /* ---------------- SEND IMAGE TO THE SERVER-------------------------
                          
                                          cropper.getCroppedCanvas().toBlob(function (blob) {
                                                var formData = new FormData();
                                                formData.append('croppedImage', blob);
                                                // Use `jQuery.ajax` method
                                                $.ajax('/path/to/upload', {
                                                  method: "POST",
                                                  data: formData,
                                                  processData: false,
                                                  contentType: false,
                                                  success: function () {
                                                    console.log('Upload success');
                                                  },
                                                  error: function () {
                                                    console.log('Upload error');
                                                  }
                                                });
                                          });
                                      ----------------------------------------------------*/
                            })
                          }
                    </script>
                    
                    <script>
                        $('#log-button').click(function(){

                          var formData = new FormData();
                          formData.append("names", document.getElementById("names").value);
                          formData.append("inputGroupFile01", crop);
                          formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                          if (names.value === "" ){
                              $('#errormsg').html("Enter category name")
                          }
                          
                          else{
                              $.ajax({
                                  url:'/admin1/updateCategory/{{catEdit.id}}',
                                  method : 'POST',
                                  data : formData,
                                  cache: false,
                                  contentType: false,
                                  processData: false,
                                  dataType: 'JSON',
                                  
                                  success: function(data){
                                      if (data == 'true'){
                                        console.log(data)
                                        window.location.replace('/admin1/categories/')
                                      }
                                      else if(data == 'false1'){
                                          
                                          $("#errormsg").html("category exists")
                                      }
                                  }
                              })
                          }
                        })
                    </script>
                    
                </div>
            </div>
        </div>
{% endblock %}