{% extends 'base.html' %}
{% block content %}

<script src="{% static 'js/okzoom.js' %}"></script>
<script>
  $(function(){
    $('#example1').okzoom({
      width: 150,
      height: 150,
      border: "1px solid black",
      shadow: "0 0 5px #000"
    });
  });
  $(function(){
    $('#example2').okzoom({
      width: 150,
      height: 150,
      border: "1px solid black",
      shadow: "0 0 5px #000"
    });
  });
  $(function(){
    $('#example3').okzoom({
      width: 150,
      height: 150,
      border: "1px solid black",
      shadow: "0 0 5px #000"
    });
  });
</script>
<div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner3">
        <h3>Best Deals For New Products<span class="blink_me"></span></h3>
    </div>
    <div class="agileinfo_single">
        <h5>{{prodt.productName}}</h5>
        <div class="col-md-4 agileinfo_single_left">
            
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: black;">
              
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img id="example1" src="{{prodt.imgurl1}}" alt=" " class="img-responsive w-100" style="width: 25rem; height: 20rem;" />
                  </div>
                  <div class="carousel-item">
                    <img id="example2" src="{{prodt.imgurl2}}" alt=" " class="img-responsive w-100" style="width: 25rem; height: 20rem;" />
                  </div>
                  <div class="carousel-item">
                    <img id="example3" src="{{prodt.imgurl3}}" alt=" " class="img-responsive w-100" style="width: 25rem; height: 20rem;" />
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" style="color: black;"  ></span>
                  <span class="sr-only" >Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            
        </div>
        <div class="col-md-8 agileinfo_single_right">
            
            <div class="w3agile_description">
                <h4>Description :</h4>
                <p>{{prodt.description}}</p>
            </div>
            <div class="snipcart-item block">
                <div class="snipcart-thumb agileinfo_single_right_snipcart">
                    <h4>{{prodt.price}} </h4>
                </div>
                <div class="snipcart-details agileinfo_single_right_details">
                    
                      <fieldset>
                        <input data-product="{{prodt.id}}" data-action="add" type="button"  value="Add to cart" class="button update-cart"/>
                      </fieldset>
                   
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"></div>
</div>


{% endblock %}